@font-face {
    font-family: 'iran';

    src: url('../fonts/IRAN Sans Regular .ttf?#') format('truetype');

}

body {
    font-family: iran;
}

.send-advert3 {
    font-family: iran;
}

.send-advert2 {
    font-family: iran;
}

.send-advert1 {
    font-family: iran;
}

.send-advert {
    font-family: iran;
}

.progress-manage {
    margin: 0 auto;
    width: 25%;
    top: 19%;
    position: absolute;
    overflow: visible;
    margin-top: 80px;
}

.progress-manage ul {

    padding: 0;
}

.progress-manage ul li {
    float: right;
    font-size: 16px;
    width: 154px;
    text-align: right;
}

.progress-manage ul li p {

    position: relative;
    right: -30px;
    top: 10px;
}

.progress {
    overflow: visible !important;
    font-size: 10px;
    height: 4px !important;

}

.progress-manage ul span {
    /*width: 154px;*/
    display: block;
}

.progress-manage ul li i {
    height: 14px;
    width: 14px;
    border-radius: 100%;
    display: block;
    float: right;
    position: relative;
    right: -14px;
    background: gray;
    top: -5px;
}

.nav-tabs {
    position: absolute;
    float: right;
    direction: rtl;
    right: 0;
    top: 77%;
    width: 100%;

}

.tab-content {
    position: absolute;
    float: right;
    direction: rtl;
    right: 0px;
    top: 86%;
    width: 100%;
}

.information li {
    float: right;
    width: 50%;
}

.information li p {
    text-align: right;
    width: 100%;
    font-size: 17px;
}

.information li span {
    font-weight: bold;
}

.slider img {
    width: 200px;
    height: 180px;
    margin-left: 55px;
    margin-top: 60px;

}

#nav_item li {
    float: left;
    margin-left: 10px;

}

#nav_item li img {
    width: 50px;
    height: 50px;
}

#verifyCode {
    background-color: #00ff62
}

.warning .progress {
    background-color: #ffde59
}

.ladder {
    width: 24px;
    height: 24px;
    background-image: url("/img/divar.png");
    background-repeat: no-repeat !important;
    background-position: -1008px 0 !important;
    display: inline-block;
    vertical-align: middle;
}


#urgent {
    width: 24px;
    height: 24px;
    background-image: url("/img/divar.png");
    background-repeat: no-repeat !important;
    background-position: -288px -48px !important;
    display: inline-block;
    vertical-align: middle;
}

#renew {
    width: 24px;
    height: 24px;
    background-image: url("/img/divar.png");
    background-repeat: no-repeat !important;
    background-position: -192px -48px !important;
    display: inline-block;
    vertical-align: middle;
}

#price {
    text-align: right;
}

#price2 {
    border: none;
}

#pardakht {
    display: none;
    position: relative;
    right: 160px;
    top: 20px;
    width: 250px;
    font-size: 17px;
}


/************* show advert *************/
aside {
    float: right;
    margin-top: 20px;
    margin-right: 20px;

}

.advert_header {
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(0, 0, 0, .05);
    height: 35px;
    width: 200px;
    text-align: right;
    padding-right: 8px;
    border-radius: 3px;
    border-bottom: 1px solid #eeeeee;

}

.catList {
    padding: 0;
    width: 150px;
}

.catList li {
    border-radius: 3px;
    font-weight: bold;
    font-size: 17px;
    text-align: right;
    height: 30px;
    width: 200px;
    border-bottom: 1px solid #eeeeee;
    padding-right: 30px;
    margin-top: 5px;
    margin-bottom: 10px;

}

.filter_advert {
    background: #f4f4f4;
    height: auto;
    margin-top: 20px;
}

.filter_advert ul {
    padding: 0;
    float: right;
    margin-top: 10px;

}

.filter_advert ul li {
    float: right;
    height: 40px;
    width: 31%;
    margin-left: 10px;

}

#Top_filters {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px solid #f3eded;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 54px;
    height: 22px;
    float: left;
}

.switch input {
    display: none;

}

.slid {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
}

.slid:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 1px 1px 0px 1px #ddd;
}

input .danger:checked + .slid {
    background-color: #c00c1a;
}

input:focus + .slid {
    box-shadow: 0px 0px 1px #2196f3;

}

input:checked + .slid:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slid.round {
    border-radius: 34px;
    background-color: red;
}

.show_ad {
    padding: 0;
    font-family: "iran";
}

.show_ad li {
    float: right;
    width: 361px;
    height: 200px;
    border: 1px solid #cccccc;
    margin-left: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
    position: relative;
}

.show_adverts_content {
    float: right;
    margin-top: 40px;
}

.show_ad li .advert_image {
    margin: 2px;
    border: 1px solid #eeeeee;
    border-radius: 3px;
}

.show_ad li .advert_subject {
    width: 117px;
    text-align: center;
    height: 80px;
    float: right;
    padding-top: 20px;
}

.show_ad li .advert_date {
    position: absolute;
    color: red;
    right: 10px;
    top: 123px;
}

.show_ad li .advert_price {
    float: right;
    width: 100%;
    height: 43px;
}

.show_ad li .advert_price p {
    height: 100%;
    width: 45%;
    line-height: 2.5;
    text-align: center;
}

.advert_chat {
    position: absolute;
    right: 160px;
    top: 110px;
}

.chatbtn {
    text-align: center;
    width: 40px;
    background: green;
    color: white;
    height: 30px;
    display: block;
    border-radius: 7px;
}

.mainCats option {
    text-align: right;
    padding-right: 20px;
    border-bottom: 1px solid #eeeeee;
    height: 40px;
    padding-top: 8px;
    cursor: pointer;
}

.SubCats {
    display: block;
    width: 371px;
    height: 40px;
}

.SecondSubCats {
    display: block;
    width: 371px;
    height: 40px;
}

.subCats li {
    width: 100% !important;
    text-align: right;
    border-bottom: 1px solid #eeeeee;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 2.5;
    cursor: pointer;
    position: relative;
}

.subCats li h5 {
    position: absolute;
    right: 30px;
    top: 10px;
}

.subCats li i {
    position: absolute;
    right: 5px;
    top: 10px;
}

.SecondsubCats li {
    width: 100% !important;
    text-align: right;
    border-bottom: 1px solid #eeeeee;
    padding-right: 10px;
    padding-top: 10px;
    line-height: 2.5;
    cursor: pointer;
    position: relative;
}

.SecondsubCats li h5 {
    position: absolute;
    right: 30px;
    top: 10px;
}

.SecondsubCats li i {
    position: absolute;
    right: 5px;
    top: 10px;
}


.dropdown-menu.show {
    width: 100%;
    margin: 1px !important;
}

#adverts_content {
    float: right;
    border-radius: 4px;
    border: 1px solid #f3eded;
    height: auto;
    position: relative;
    right: 14.255%;

}

#type {
    padding: 0;
    position: relative;
    right: 70px;
    top: 33px;
}

#type li {
    width: 90px !important;
    float: none;
!important;
    position: relative;
}

#type li input {
    position: absolute;
    right: 5px;
}

#type li label {
    position: absolute;
    right: 28px;
}

#Advertiser {
    padding: 0;
    position: relative;
    right: 70px;
    top: 33px;
}

#Advertiser li {
    width: 90px !important;
    float: none;
!important;
    position: relative;
}

#Advertiser li input {
    position: absolute;
    right: 5px;
}

#Advertiser li label {
    position: absolute;
    right: 28px;
}


#shahr {
    padding: 0;
    position: relative;
    right: 70px;
    top: 33px;
}

#shahr li {
    width: 90px !important;
    float: none;
!important;
    position: relative;
}

#shahr li input {
    position: absolute;
    right: 5px;
}

#shahr li label {
    position: absolute;
    right: 28px;
}

#show {
    display: none;
    margin: 20px auto 0;
    font-family: iran;
}

#show .header {
    height: 40px;
    background: #fdfdfd;
    border-radius: 4px;
    position: relative;
    border: 1px solid #eeeeee;

}

.header .backbtn {
    display: block;
    border-left: 1px solid #eeeeee;
    float: right;
    text-align: right;
    height: 100%;
    line-height: 3;
    cursor: pointer;
}

.header .advertAddress {
    display: block;
    float: left;
    text-align: right;
    height: 100%;
    line-height: 3;
}

.adContent {
    margin-top: 20px;
    float: right;
    height: 500px;
}

.adContent .right {
    float: right;
    height: 100%;

}

.adContent .left {
    float: left;
    height: 100%;
}

#show .show_header {
    text-align: right;
    margin-top: 20px;
}

#show .ad_date {
    text-align: right;

}

#show .mobileInfo {
    color: white;
    border-radius: 4px;
    position: absolute;
    right: 1px;
    line-height: 12px;
    height: 30px;
}

#show .StartChat {
    position: absolute;
    right: 155px;
    text-align: center;
    height: 30px;
    width: 90px;
    color: #3f3f3f;
    border: 1px solid #3f3f3f;
    border-radius: 4px;
}

#show .ad_option {
    height: 40px;
}

#show .ad_option a {
    cursor: pointer;
}

#show .ad_option a:hover {
    color: #3f3f3f !important;
}

#show .makeFavorite {

    left: 130px;
    position: absolute;
    text-align: center;
    height: 30px;
    width: 90px;
    color: #3f3f3f;
    border: 1px solid #3f3f3f;
    border-radius: 4px;

}

#show .ad_info {
    height: auto;
    margin-top: 20px;
}

#show .ad_info li {
    border-bottom: 1px solid #eeeeee;
    position: relative;
    height: 40px;
    line-height: 3;
    font-size: 18px;


}

.info_title {
    position: absolute;
    right: 1px;
    color: gray;
}

.info_value {
    left: 5px;
    color: #3f3f3f;
}

#show .ad_explain {
    height: 150px;
    color: #3f3f3f;
    text-align: right;
    padding: 20px;
    font-size: 18px;
}

#nav_item2 li {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

#mydivar {
    display: none;
}



